<% provide(:title, "注文商品") %>
<div class="row">
  <aside class="col-md-4">
  <p>
     
     <br>
     
     
    <% @buy_item.each do |item| %>
    name
    <%= item.stationery.name %>
    <br>
    price
    <%= item.stationery.price %>
    <br>
    order count
    <%= item.count %>
    <br>
    total 
    <%= item.count*item.stationery.price %>
    <br>
    <%= link_to "delete", "/buy_items/#{item.id}", method: :delete,
                                  data: { confirm: "You sure?" } %> 

    <br><br>

    
<% end %>
      <br>
      <br>
<%= link_to "購入確定", buy_items_path, :method => 'post',
                                  data: { confirm: "You sure?" } %>
      <br>
      </ol>
  </div>
     
      <br><li><%= link_to "商品一覧へ", stationery_index_path %></li>
　　</p>
</aside>
</div>