<% provide(:title, "Bought Items") %>
<div class="row">
  <aside class="col-md-4">
  <p>
  <%= @user.name %>
  <br>
     
     <br>
     <% @user.buy_items.each do |items| %>
     Stationery Name:
     <%= items.stationery.name %>
   <br>
　　price:
　　  <%= items.stationery.price %>
     <br>
     count:
     <%= items.count %>
     <br>
     date:
     <%= items.created_at%>
     <br>
     total price
     <%= items.count*items.stationery.price %>
     <br><br>
     
     
     <% end %>
    

      <br>
      <br>
      
      </ol>
  </div>
     
     <li><%= link_to "一覧", stationery_index_path %></li>
　　</p>
</aside>
</div>