<% provide(:title, "Userspage") %>
<div class="row">
  <aside class="col-md-4">

  <% if @user.status == 0 %>
  <h1>
  <%= @user.name %>
</h1>
　　<p>email:
　　  <%= @user.email %>
     <br>
     address:
　　  <%= @user.address %>
      <li><%= link_to "Stop receive", bought_path %></li>
      <li><%= link_to "Add Stationery", insert_path %></li>
      
  <% else @user.status == 1 %>
  <h1>
  <%= @user.name %>
</h1>
　　<p>email:
　　  <%= @user.email %>
     <br>
     address:
　　  <%= @user.address %>
    <li><%= link_to "Edit user", edit_user_path %></li>
     <li><%= link_to "Buy Items", bought_path %></li>
     <li><%= link_to "Cart", buy_items_path %></li>
     <li><%= link_to "退会する", leave_path, :method => 'post', data: { confirm: "You sure?" } %></li>
     
  <% end %>

　　  
　　  </ul> 
　　</p>
</aside>
</div>