<% provide(:title, "Edit Stationery") %>
<h1>Update Stationery</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@stationery) do |f| %>
      <%= render 'shared/stock_form' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control' %>

      <%= f.label :detail %>
      <%= f.text_field :detail, class: 'form-control' %>

      <%= f.label :maker %>
      <%= f.text_field :maker, class: 'form-control' %>
      
      <%= f.fields_for :stock do |i| %>
   
         <%= i.label :stock %>
         <%= i.number_field :count, class: 'form-control' %>
         <% end %>
      
      <div class="field">
    <%= f.label :category %>
    <%= f.collection_check_boxes :category_ids, Category.all.order(name: "ASC"), :id, :name do |b| %>
        <%= b.check_box + b.label %>
    <% end %>
    </div>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>