<% provide(:title, 'All Stationery') %>
<h1>All Stationery</h1>

<%= will_paginate %>

<ul class="stationery">
<br>
  <p>stationery search</p>
  <%= form_tag(stationery_index_path, :method => 'get' ) do %>
  <%= label_tag :search %>
<%= text_field_tag :search, params[:search] %>
   <%= submit_tag 'Search', :name => nil %>
   
  <% end %>

  <%= form_tag(stationery_index_path, :method => 'get' ) do %>
      <%= select_tag :category_id,
                     options_from_collection_for_select(Category.all, :id, :name, params[:category_id]) %>
    <% end %>
   
  
<br>

    <% if @stationery.length == 0 %>
    <h2>Not Found</h2>
    <% else %>
     <% @stationery.each do |stationery| %>
  
    <li class ="name">

      <%= link_to stationery.name, stationery %>
      <br>
    </li>
   <% end %>
  <% end %>

</ul>

<%= will_paginate %>