<% provide(:title, "Userspage") %>
<div class="row">
  <aside class="col-md-4">
<h1>
  <%= @stationery.name %>
</h1>
　　<p>price:
　　  <%= @stationery.price %>
     <br>
     maker:
　　  <%= @stationery.maker %>
    <br>
     detail:
　　  <%= @stationery.detail %>
    <br>
     category:
      <% @stationery.categories.each do |categories| %>
       <%= categories.name %>
      <% end %>

      <br>
      <br>
      <%= link_to "delete", @stationery, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <br>
      <%= link_to "edit", edit_stationery_path %>
      </ol>
  </div>
     
      <br>
　　  

    <%= form_for(@buy_item, url: add_path, :method => 'post') do |f| %>
        <%= f.hidden_field :stationery_id, :value => @stationery.id %>


     
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.label :count %>
        <%= f.number_field :count, class: 'form-control' %>
      
      <%= f.submit "Order", class: "btn btn-primary" %>
         <% end %>
         
     <li><%= link_to "一覧", stationery_index_path %></li>
　　</p>
</aside>
</div>