<% provide(:title, "Userspage") %>
<div class="row">
  <aside class="col-md-4">
<h1>
  <%= @stationery.name %>
</h1>
　　<p>price:
　　  <%= @stationery.price %>
     <br>
     maker:
　　  <%= @stationery.maker %>
    <br>
     detail:
　　  <%= @stationery.detail %>

     <div class="col-md-8">
    
      <h3>Microposts 
      <%= @stationery.categories.each do |categories| %>
       </h3>
             <%= @stationery.categories.name %>

      <ol class="microposts">
        <% end %>
<h3>aiu</h3>
        <% @stationery.categories.each do |category| %>
    <%= category.name %>
    
<% end %>
      </ol>
      
    
  </div>
     <li class ="name">

      
      <br>
    </li>
   
     
　　  <ul class="stationeries">  
　　  <li><%= link_to "Cartに", edit_user_path %></li>
     
　　  </ul> 
　　</p>
</aside>
</div>