<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "stationery app", stationery_index_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", stationery_index_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", current_user %></li>
          
              <%= link_to "Log out", logout_path, method: :delete %>
            </a>
            
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
        <br>
          <li><%= link_to "Pen", stationery_index_path %>
          <%= link_to "File", stationery_index_path %>
          <%= link_to "Pencase", stationery_index_path %>
          <%= link_to "Notebook", stationery_index_path %>
          <%= link_to "Album", stationery_index_path %>
          <%= link_to "Diary", stationery_index_path %>
          <%= link_to "Eraser", stationery_index_path %></li>
          
          
    
      </ul>
    </nav>
  </div>
</header>